rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && request.auth.token.email in [
        'joao.faria@logcomex.com',
        'christian.bertolino@logcomex.com',
        'henrique.silva@logcomex.com',
        'adriano.martins@logcomex.com',
        'daniel.alle@logcomex.com'
      ];
    }

    function isViewer() {
      return request.auth != null && request.auth.token.email in [
        'leandro.oliveira@logcomex.com'
      ];
    }

    // Leitura pública para o Facilities.IA
    match /{document=**} {
      allow read: if true;
      allow write: if isAdmin();
    }
  }
}
